* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	color: #141510;
	font-family: Sans-Serif;
}

header {
	padding: 20px;
	width: 100%;
	border-bottom: 1px solid #d5d5d5;
	background: white;
}

header img {
	max-width: 300px;
}

nav {
	float: right;
}


header ul li {
	float: left;
	list-style: none;
	margin: 0 15px 0 0;
}

nav #nav a, nav #nav a:visited  {
	color: #141510;
	text-decoration: none;
}

nav #nav a:hover {
	text-decoration: underline;
}

nav ul#nav {
	margin-top: 45px;
	height: 30px;
}

nav ul#social {
	float: right;
}

nav ul#social li {
	margin: 0 5px 0 0;
}

nav ul#social li:first-child img {
	padding-top: 8px;
	width: 30px;
}

nav ul#social li:nth-child(2) img {
	width: 45px;
}

nav ul#social li:last-child img {
	padding-top: 10px;
	width: 35px;
}

.section {
	width: 100%;
	padding: 100px 200px;
	background: #EEE;
	line-height: 1.4em;
	text-align: center;
}

.section h2 {
	margin-bottom: 30px;
	font-size: 26px;
}

.section p {
	margin-bottom: 15px;
}

.section.green {
	background: #c0dd68;
}

.section .left {
	width: 50%;
}

.section .right {
	float: right;
	width: 50%;
	display: block;
}

iframe {
	width: 100%;
	margin-top: 20px;
}

footer {
	background: #141510;
	color: #FFF;
	padding: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}
