* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	color: #141510;
	font-family: Sans-Serif;
}

a, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #141510;
}

a:hover {
	text-decoration: underline;
}

header {
	padding: 60px 20px 0;
	width: 100%;
	text-align: center;
}

header .contact {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #FFF;
	padding: 10px;
	border-bottom: 1px solid #EEE;
}

header .contact img {
	width: 20px;
	margin-right: 10px;
}

header .contact .inner div {
	float: left;
	width: 33.33%;
}

header .contact .inner div.tel {
	text-align: left;
}

header .contact .inner div.book {
	margin: 0;
}

header .contact .inner div.email {
	text-align: right;
}

header .contact .inner div a {
	position: relative;
	top: -5px;
}

header a.logo {
	display: inline-block;
	margin-bottom: 20px;
}

header img.logo {
	width: 100%;
	max-width: 300px;
}

nav {
	margin: 0 auto;
	text-align: center;
}

nav a, nav a:visited  {
	margin-right: 10px;
}

.section {
	width: 100%;
	padding: 60px;
	line-height: 1.4em;
	text-align: center;
	display: flex;
}

.inner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.section h2 {
	margin-bottom: 30px;
	font-size: 26px;
}

.section img {
	width: 100%;
	max-width: 500px;
}

.section p {
	margin-bottom: 10px;
}

.section p:last-child {
	margin-bottom: 0;
}

.section.green {
	background: #C0DD68;
}

.section.grey {
	background: #EEE;
}

.section .left {
	float: left;
	width: 60%;
}

.section .right {
	float: right;
	width: 40%;
	padding-left: 25px;
	margin-top: 0;
}

.section ul {
	margin-bottom: 10px;
}

.section li {
	margin-left: 20px;
}

#about {
	min-height: 800px;
	max-width: 2000px;
	background: #FFF url('images/studio.jpg') no-repeat center;
	background-size: cover;
	color: #FFF;
	margin: 20px auto 0;
}

#about .inner {
	margin: auto;
	padding: 30px;
	max-width: 45%;
	background: rgba(69, 69, 69, 0.7);
	font-size: 1rem;
}

#academy .right img, #long-drive .right img {
	margin-top: 100px;
}

#bookings .inner {
	max-width: 800px;
}

#bookings iframe {
	border: none;
	min-height: 750px;
	width: 100%;
}

#bookings .left, #bookings .right {
	width: 50%;
}

#bookings img {
	height: 150px;
	width: auto;
}

#bookings h3 {
	margin: 10px 0;
}

#bookings p {
	margin-bottom: 0;
}

#lessons h3 {
	margin: 20px 0;
}

#lessons .inner {
	width: 100%;
	max-width: 1200px;
}

#lessons .left, #lessons .right {
	width: 33%;
	padding: 0;
}

#lessons p {
	text-align: left;
	margin: 10px auto;
	width: 90%;
	border-bottom: 1px dotted #141510;
}

#lessons p span {
	float: right;
	padding-left: 5px;
	font-weight: bold;
}

.profile {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: #828282;
	margin: 0 auto;
}

.profile img {
	border-radius: 50%;
}

#facility img {
	max-width: 65%;
}

#facility p.small {
	font-size: 0.8rem;
	margin-bottom: 0;
}

#facility p:last-of-type {
	margin-top: 10px;
}

#social ul {
	margin: 0 auto;
	display: inline-block;
	list-style: none;
	min-height: 65px;
}

#social li {
	float: left;
	margin: 0 15px;
}

#social li:first-child img {
	width: 50px;
}

#social li:nth-child(2) img {
	padding-top: 4px;
	width: 45px;
}

#social li:last-child img {
	padding-top: 7px;
	width: 55px;
}

#facility table {
	margin: 20px auto;
	width: 50%;
}

#fitting img {
	max-width: 130px;
	margin: 20px 20px 0;
}

iframe {
	width: 100%;
	margin-top: 20px;
	border: 1px solid #CCC;
}

footer {
	background: #141510;
	color: #D5D5D5;
	padding: 50px;
	font-size: 12px;
}

footer .inner {
	margin: 0 auto;
	width: 100%;
	max-width: 850px;
	text-align: center;
}

footer p.nav a, footer p.nav a:visited {
	color: #D5D5D5;
	font-weight: bold;
	text-decoration: none;
	font-size: 15px;
	margin-right: 10px;
}

footer a, footer  a:visited {
	color: #D5D5D5;
	text-decoration: none;
}

footer p {
	width: 100%;
	margin-bottom: 10px;
	font-size: 15px;
}

footer p.copy {
	padding-top: 15px;
	font-size: 11px;
}

footer img {
	width: 250px;
	margin: 0 0 25px;
}

@media screen and (max-width: 500px) {
	header {
		padding: 20px;
	}

	header img.logo {
		margin: 20px auto;
	}

	header .contact {
		position: relative;
		padding: 0;
	}

	header .contact img {
		width: 15px;
		float: none;
	}

	header .contact .inner div {
		float: none;
		width: 100%;
	}

	header .contact .inner div.tel, header .contact .inner div.email {
		text-align: center;
	}

	header .contact .inner div.book {
		margin: 10px 0;
	}

	#about {
		min-height: 400px;
	}

	#about .inner {
		max-width: 100%;
		font-size: 0.9rem;
	}

	#academy .right img, #long-drive .right img {
		margin-top: 0;
	}

	.section {
		padding: 40px 20px;
	}

	.section .left {
		float: none;
		width: 100%;
	}

	.section .right {
		float: none;
		width: 100%;
		padding-left: 0;
		margin-top: 15px;
	}

	#bookings .left, #bookings .right {
		margin: 0;
		float: left;
	}

	#bookings img {
		height: 100px;
	}

	#lessons .left, #lessons .right {
		width: 100%;
	}

	#lessons p {
		margin: 10px auto;
		width: 100%;
	}

	#facility table {
		width: 100%;
	}

	#facility img {
		max-width: 100%;
	}

	#fitting img {
		max-width: 40%;
	}

	footer img {
		width: 100%;
	}
}
