* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	color: #141510;
	font-family: Sans-Serif;
}

a, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #141510;
}

a:hover {
	text-decoration: underline;
}

header {
	padding: 40px 20px 20px;
	width: 100%;
	text-align: center;
}

header .contact {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #FFF;
	padding: 10px;
}

header .contact img {
	width: 20px;
	float: left;
	margin-right: 10px;
}

header .contact .inner div:first-child {
	float: left;
}

header .contact .inner div:last-child {
	float: right;
}

header img.logo {
	width: 100%;
	max-width: 300px;
	margin: 0 auto 30px;
	display: block;
}

nav {
	margin: 0 auto;
	text-align: center;
}

nav a, nav a:visited  {
	margin-right: 10px;
}

hr {
	background: #EEE;
	width: 100px;
	height: 3px;
	margin: 50px auto 0;
}

.section {
	width: 100%;
	padding: 50px;
	line-height: 1.4em;
	text-align: center;
}

.inner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

#about img {
	margin-top: 20px;
}

.section h2 {
	margin-bottom: 30px;
	font-size: 26px;
}

.section img {
	width: 100%;
	max-width: 600px;
}

.section p {
	margin-bottom: 15px;
}

.section p:last-child {
	margin-bottom: 0;
}

.section.grey {
	background: #EEE;
}

.section .left {
	width: 50%;
}

.section .right {
	float: right;
	width: 50%;
	padding-left: 25px;
}

#social ul {
	margin: 0 auto;
	display: inline-block;
	list-style: none;
	min-height: 65px;
}

#social li {
	float: left;
	margin: 0 15px;
}

#social li:first-child img {
	width: 55px;
}

#social li:nth-child(2) img {
	padding-top: 4px;
	width: 50px;
}

#social li:last-child img {
	padding-top: 7px;
	width: 60px;
}

iframe {
	width: 100%;
	margin-top: 20px;
	border: 1px solid #CCC;
}

footer {
	background: #141510;
	color: #D5D5D5;
	padding: 50px;
	font-size: 12px;
}

footer .inner {
	margin: 0 auto;
	width: 100%;
	max-width: 850px;
	text-align: center;
}

footer p.nav a, footer p.nav a:visited {
	color: #D5D5D5;
	font-weight: bold;
	text-decoration: none;
	font-size: 15px;
	margin-right: 10px;
}

footer a, footer  a:visited {
	color: #D5D5D5;
	text-decoration: none;
}

footer p {
	width: 100%;
	margin-bottom: 10px;
	font-size: 15px;
}

footer p.copy {
	padding-top: 15px;
	font-size: 11px;
}

footer img {
	width: 250px;
	margin: 25px 0;
}

@media screen and (max-width: 500px) {
	header {
		padding: 80px 20px 0;
	}

	header .contact img {
		width: 15px;
		float: none;
	}

	header .contact .inner div:first-child, header .contact .inner div:last-child {
		float: none;
	}

	hr {
		margin: 20px auto 0;
	}

	.section {
		padding: 20px;
	}

	.section .left {
		float: none;
		width: 100%;
	}

	.section .right {
		float: none;
		width: 100%;
		padding-left: 0;
	}

	footer img {
		width: 100%;
	}
}
